<% if current_user %>
  <h3>Clock Sessions for <%= current_user.first_name %> <%= current_user.last_name %></h3>
  <%= link_to "Clock In", new_clock_session_path %>
  <% current_user.clock_sessions.each do |clock_session| %>
    <p>Clock in time: <%= clock_session.created_at %></p>
    <p>Clock out time: <%= clock_session.clock_out %></p>
  <% end %>
  <% if current_user.clock_sessions.blank? %>
    <p>You have not yet clocked in or out.</p>
  <% end %>
<% else %>
  <% User.all.each do |user| %>
    <p>Clock sessions for <%= user.first_name %> <%= user.last_name %></p>
    <% user.clock_sessions.each do |clock_session| %>
      <div class="clock-sessions-for-user">
        <p>Clock in time: <%= clock_session.created_at %></p>
        <p>Clock out time: <%= clock_session.clock_out %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
