<h4 id="total-session-time-for-user">Total Session Times for <%= @user_full_name %></h4>
<div class="total-session-time">
  <h6>From <%= @beginning %> to <%= @ending %></h6>
  <div class="dynamic-total" data-url="<%= @total %>"><%= @total %></div>
</div>
